<BSCarousel NumberOfItems="@Produto.Fotos.Count" style="width: 100%" class="mb-3">
    <BSCarouselIndicators NumberOfItems="@Produto.Fotos.Count" />
    <div class="carousel-inner">
        @for (int i = 0; i < Produto.Fotos.Count; i++)
        {
            <BSCarouselItem Src="@Produto.Fotos.ElementAt(i)" Alt="@Produto.Fotos.ElementAt(i)" />
        }
    </div>
    <BSCarouselControl CarouselDirection="CarouselDirection.Previous" NumberOfItems="@Produto.Fotos.Count" />
    <BSCarouselControl CarouselDirection="CarouselDirection.Next" NumberOfItems="@Produto.Fotos.Count" />
</BSCarousel>
<p>@Produto.Descricao</p>
<hr />
<div class="row">
    <div class="col-3 my-auto">
        <strong>@Produto.Preco.ToString("C2")</strong>
    </div>
    <div class="col text-right my-auto d-block">
        <label for="inputQtd">Quantidade</label>
        <input name="inputQtd" type="number" min="1" @bind-value="Quantidade" style="width: 50px;" />
        <button class="btn btn-primary" type="button">Adicionar ao carrinho</button>
    </div>
</div>

@code {
    int Quantidade = 1;

    [Parameter]
    public Models.Produto Produto { get; set; }
}
