@using IntelligentCheckout.Frontend.Shared

<div class="card">
    <img src="@Produto.Fotos.FirstOrDefault()" class="card-img-top" alt="@Produto.Nome">
    <div class="card-body">
        <h5 class="card-title">@Produto.Nome</h5>
        <p class="card-text">@Produto.Descricao</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">@Produto.ObterPrecoFormatado()</small>
    </div>
</div>

@code {
    [Parameter]
    public Produto Produto { get; set; }
}
