@using IntelligentCheckout.Frontend.Models

<a href="https://www.google.com">
    <div class="card card-produto">
        <img src="@Produto.Fotos.FirstOrDefault()" class="card-img-top" alt="@Produto.Nome">
        <div class="card-body">
            <h5 class="card-title">@Produto.Nome</h5>
            <p class="card-text">@Produto.Descricao</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">@Produto.Preco.ToString("C2")</small>
        </div>
    </div>
</a>
@code {
    [Parameter]
    public Produto Produto { get; set; }
}
